.icon-button > {
  .ant-btn {
    padding: 8px 9px 26px 9px !important ;
    border-style: none;
  }
  .ant-btn:hover {
    padding: 8px 9px 26px 9px !important ;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 100px;
  }
}
.text-button > {
  .ant-btn {
    margin: 5px 50px;
    padding: 5px 70px;
    border-radius: 70px;
    padding-bottom: 28px;
    border: block;
    border-width: 2px;
  }
}

.navbar-icon-button > {
  button {
    display: flex !important;
  }
  .ant-btn {
    padding: 30px 27px 45px 25px !important;
    background: #f4f0f4;
    border-radius: 0px !important;
    border-bottom-width: 0px;
  }
  svg {
    transform: scale(1.3);
  }
  .ant-btn:hover {
    padding: 30px 27px 45px 25px !important;
    background-color: #e6e2e5;
    border-color: rgba(245, 222, 179, 0.37);
    svg {
      transform: scale(1.3);
    }
  }
}
